@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
}
.container {
  width: 100%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 51px;
}

@layer {
  main {
    @apply flex-grow;
  }
  html,
  body,
  #root {
    @apply h-full;
  }
  #root {
    @apply flex flex-col;
  }
}
